@font-face {
  font-family: Roboto__Light-Italic;
  src: url(../fonts/RobotoCondensed-LightItalic.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto__Normal;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto__Bold;
  src: url(../fonts/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}