@import url(./font.css);
@import url(./variable.css);
.nav-link{
  color:#ffff;
  font-family: var(--RR);
  font-size: 36px;
  line-height: 42px;
  transition: .5s;
}

.active-link,
.nav-link:hover{
  color:#85CCDC;
  cursor: pointer;
  text-decoration: underline;
}
.header{
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  z-index: 1;
}
.header::before{
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(121, 116, 126, 0) 86.33%);
  z-index: -1;
}
.header::after{
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
  transform: rotate(180deg);
  z-index: 5;
}
.header__info{
  height: 100%;
}

.main{
  width: 100%;
}
.main__title{
  margin: 100px 0;
  font-family:var(--RR);
  font-size: 36px;
  line-height: 42px;
}
.main__text,
.subtitle,
.sub__info{
  font-family: var(--RR);
  font-size: 18px;
  line-height: 21px;
}
.strom{
  background-image: url(../img/thumb-1920-691823.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 1080px;
}
.play__icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #600E09;
}
.play__icon::before{
  font-size: 40px;
  text-decoration: none;
}
.card{
  z-index: 0;
}
.layer{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(14, 14, 14, 0.8);
  z-index: 2;
  transition: .5s;
  opacity: 0;
}
.card{
  max-width: 350px;
  width: 100%;
}
#mb{
  margin-top: 100px;
}
.card:hover .layer{
  cursor: pointer;
  opacity: 1;
}
.slider{
  margin-bottom: 100px;
}
.carousel-control-next-icon{
  background-image:url(../img/right.png);
}
.carousel-control-prev-icon{
  background-image:url(../img/left.png)
}
.text{
  font-family: var(--RR);
  font-size: 18px;
  line-height: 21px;
  color:#fff;
}
.textbox__text{
  max-width: 349px;
  width: 100%;
  font-family: var(--RR);
  font-size: 18px;
  line-height: 21px;
}
.play__icon::before{
  color:#000;
}
.btn-dark{
  padding: 18px 78px;
  font-size: 36px;
  line-height: 42px;
  font-family: var(--RR);
}
.cardbox__number{
  top: -70px;
  left: 0;
  font-size: 96px;
  line-height: 112px;
  color: #600E09;
  font-family: var(--RB);
}
.six{
  z-index: 5;
}